@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* 초기화, 공통 */
* { box-sizing: border-box; }
body, h1, h2, h3, ul, p { margin: 0; padding: 0; }
body { text-align: center; }
ul, li { list-style: none; }
a { text-decoration: none; color: #000; }
address { font-style: normal; }
.hidden { overflow: hidden; width: 1px; height: 1px;
          margin: -1px; clip-path: polygon(0 0, 0 0, 0 0); }


/* 헤더영역 */
#headerWrap { position: relative; width: 100%; height: 240px; z-index: 999;
                background: #fff; }
#logo { margin: 0 auto;
        width: 200px; height: 220px; 
        background: url(../images/html5Logo.png) no-repeat center / cover;
        text-indent: -5000px; }
#logo a { display: block; width: 200px; height: 230px; }
/* 네비게이션 영역 */
#gnb {  position: absolute; width: 100%; height: 80px;    
        margin-top: 15px; background: #fff;
        border-top: 1px solid #ababab; }
#headerWrap #gnbList 
{  max-width: 1280px; margin: 0 auto;
    display: flex; justify-content: space-around;}
#gnbList > li {  }
#gnbList > li > a { line-height: 80px; font-weight: bold; font-size: 1.2vw; }
/* 서브 네비게이션 영역 */
.snb { opacity: 0; }
.snb li { width: 150px; height: 80px; background: rgba(255,255,255,0.5);}
.snb li a { line-height: 80px; font-size: 20px; font-weight: 600; color: #3c3c3c; }
/* 네비게이션 hover */
#gnbList > li > a:hover { border-bottom: 5px solid #ea3b00; transition: 0.2s;
                        color: #ea3b00; transition: 0.2s; }
.snb li a:hover { color: #ea3b00; transition: 0.2s; }

/* 슬라이더 영역 */
#sliderWrap { position: relative; width: 300vw; height: 100vh; margin: 0 auto;
                text-align: center; }
#sliderList { display: flex; max-width: 300vw; width: 100%; height: 100vh;
                text-align: center;  }
.slider { display: inline-block; width: 100vw; height: 100vh; }
.slider:nth-child(1) { background: url(../images/slider1.jpg) no-repeat center / cover; }
.slider:nth-child(2) { background: url(../images/slider2.jpg) no-repeat center / cover; }
.slider:nth-child(3) { background: url(../images/slider3.jpg) no-repeat center / cover; }

/* .slider img { width: 100vw; height: 100vh; } */
/* 슬라이더 이벤트 버튼 영역 */
.slider .eventBtnWrap 
{ 
text-align: center; margin-top: 300px;
display: inline-block; opacity: 1;
height: 110px; }
.slider .eventBtnWrap p 
{ display: block; line-height: 80px; font-size: 2.5vw; 
  font-weight: 500; color: #fff; }
.eventBtn 
{ display: inline; text-align: center; }
.slider .eventBtnWrap a 
{ display: inline-block; width: 10vw; line-height: 3vh; 
  background: #eb5827; font-size: 0.9vw; color: #fff; }
/* 슬라이더 버튼 영역 */
#sliderBtnWrap 
/* { text-align: center; margin-bottom: 300px;
display: inline-block; z-index: 999;
width: 300px; height: 100px; }
#sliderBtnList { display: flex; width: 300px; height: 100px; }
#sliderBtnList .sliderBtn { display: inline; width: 100px; height: 50px; background: #fff; } */

/* 코딩 컨텐츠 영역 */
#codingContenttWrap { position: relative; text-align: center; width: 1280px; }
.contentInnerWrap:nth-child(1) { position: relative; width: 100%; height: 50vh; min-width: 1280px;
                display: flex; align-items: center; justify-content: space-between;
                background: #e4e4e4; }
.contentInnerWrap h2 { position: absolute; top: 3vh; left: 45vw;
                        line-height: 100px; font-size: 1.5vw; }
/* 코딩 컨텐츠 텍스트/이미지 영역1 */
#contentTextWrap1 { position: relative; top: 13%; left: 20%;
                display: inline; width: 38.5vw; height: 15vh; 
                text-align: left; }
#contentTextWrap1 p { line-height: 30px; font-size: 1vw; font-weight: 500; }
#contentImgWrap1 { position: absolute; top: 31%; left: 57%;
                width: 27vw; height: 61vh;
                display: inline; }
#contentImgWrap1 img { width: 50%; height: 50%; }
/* 코딩 컨텐츠 텍스트/이미지 영역2 */
.contentInnerWrap:nth-child(2) { position: relative; padding-top: 5vh;
                                width: 100%; height: 130vh; min-width: 1280px;
                                text-align: center; background: #f3f5db; }
#contentTextWrap2 {  }
#contentTextWrap2 img { margin: 4vh 0 4vh 0; }
#contentTextWrap2 > p { line-height: 45px; font-size: 1.1vw; font-weight: 550;
                        font-style: italic; color: #f27c55; }
#fontStyle { color: #c4c4c4; }
#contentImgWrap2 { position: relative; width: 100%; height: 65%; border: 1px solid #000; }
#imgList { display: flex; flex-flow: row wrap; 
        min-width: 1280px; height: 100%; 
        justify-content: space-evenly; align-content: space-evenly; }
#imgList li { margin: 2% 2% 2% 2%; }
#imgList li:nth-child(1) { display: inline-block; background: blue; min-width: 600px; height: 95%; }
#imgList li:nth-child(2) { display: inline-block; background: red; min-width: 600px; height: 50%; }
#imgList li:nth-child(3) { display: inline-block; background: green; min-width: 600px; height: 50%; }

/* 교육 프로그램 컨텐츠 영역 */
#programContenttWrap { position: relative; }
#programContenttWrap h2 {  }
/* 교육 프로그램 리스트 */
#programListWrap {  }
.programList {  }
.programList h3 {  }
.programList p {  }

/* 푸터영역 */
#footerWrap {  }
#addressWrap {  }
#addressWrap address {  }
/* sns 영역 */
#sns {  }
#snsList {  }
#snsList li {  }
#snsList li img {  }