@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* 초기화 */
body, h1, h2, h3, ul { margin: 0; padding: 0; }
ul li { list-style: none; }
a { text-decoration: none; color: #000; }
/* .hidden { position: absolute; left: -9999px; } */
.hidden { display: none; }

/* 웹폰트 -noto sans kr */
body { font-family: "Noto Sans KR', sans-serif"; }

/* 헤더 */
#headerWrap { height: 130px; 
              border-bottom: 1px solid #9d9d9d; }
#headerWrap::before { content: ""; position: absolute; top: 0; left: 0;
                      width: 100%; height: 40px; background: #e0e0e0; }
#header { width: 1000px; margin: 0 auto; background: #e8dc9a;
          position: relative; }
#header h1 { width: 154px; height: 31px; }
#header h1 a { display: block; height: 31px; 
               text-indent: -5000px;
               background: url(../images/logo.png) no-repeat; }

/* lnb */
#lnb { position: absolute; top: 0; right: 0;
        }
#lnb ul { height: 40px; display: flex; align-items: center; }
#lnb ul li { 
        /* display: inline-block;  리스트 요소 정렬1*/
        /* float: right; line-height: 40px; 리스트 요소 정렬2*/
        margin-right: 10px;
             }
#lnb ul li a {  }

/* gnb */
#gnb {  }

/* 섹션 */


