@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* 초기화 */
* { box-sizing: border-box; }
body, h1, h2, ul { margin: 0; padding: 0; }
ul li { list-style: none; }
a { text-decoration: none; color: #000; }
.hidden { position: absolute; width: 1px; height: 1px;
        margin: -1px; overflow: hidden;
        clip-path: polygon(0 0, 0 0, 0 0);}

/* 웹폰트 - 고딕 */
body { font-family: "Noto Sans KR", sans-serif; }

/* 문서 넓이 1280px 기준 */
/* 헤더 */
#headerWrap { position: absolute; top: 0; left: 0; width: 100%; }
#headerWrap:hover { background: #fff; }
#header { 
          /* position: absolute; top: 20px; left: 50%;
          transform: translateX(-50%); */
          width: 1280px; margin: 0 auto; padding-top: 20px 0;
          display: flex; justify-content: space-between;
        }
#header .logo { width: 174px; }
#header .logo a { display: block; height: 56px; 
                text-indent: -110%; overflow: hidden;
                background: url(../images/header-logo-white.png) no-repeat; }
#headerWrap:hover .logo a { background-image: url(../images/header-logo.png); }
/* lnb */
#lnb { order: 1; padding-top: 15px;}
#lnb a { color: #fff; margin: 0 15px; }
#headerWrap:hover #lnb a { color: #000; }
/* gnb */
#gnb { padding-top: 15px; }
#gnbList { display: flex; }
#gnbList > li { margin: 0 20px; }
#gnbList > li > a { color: #fff; }
#headerWrap:hover #gnbList > li > a { color: #000; }

/* 섹션 */
#sliderWrap { height: 100vh; overflow: hidden; background: #4887c1 
            url(../images/bgSlider.jpg) no-repeat center top / cover; }
#sliderWrap > div { width: 1280px;  
                    /* margin: 300px auto 0; */
                    margin: 0 auto; padding-top: 300px;
                    font-size: 100px; font-weight: 900; color: #fff;}

